@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

body {
    background-color: #1b63c071;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

section {
    background-color: #fff;
    padding: 10px;
    width: 450px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

.full_input {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input {
    width: 90%;
    padding: 10px 5px;
    height: 39px;
    border: 1px solid #b3b2b2;
    outline: 0;
    border-radius: 6px 0 0 6px;
}

button {
    width: 10%;
    font-size: 20px;
    height: 39px;
    border: 0;
    background-color: #0b1d85d5;
    color: #fff;
    border-radius: 0 6px 6px 0;
}

.paragraphe_style {
    margin: 10px 0;
    padding: 10px 0;
    padding-left: 5px;
    border-radius: 6px;
    color: #fff;
    background-color: #699df0;
    word-break: break-all;
    cursor: pointer;
    animation: anime 0.5s linear;
}

.paragraphe_style:last-child {
    margin-bottom: 0;
}

@keyframes anime {
    from {
        transform: translateY(50px);
    }
}

.paragraph_click {
    background-color: rgba(247, 118, 118);
    text-decoration: line-through;
}

/* Responsive Design */
@media (max-width: 768px) {
    section {
        width: 90%; /* Prendre 90% de la largeur de l'écran */
    }

    h1 {
        font-size: 24px; /* Réduire la taille du titre */
    }

    input {
        width: 85%; /* Ajuster la largeur de l'input */
    }

    button {
        width: 15%; /* Ajuster la largeur du bouton */
        font-size: 18px; /* Réduire la taille de la police */
    }
}

@media (max-width: 480px) {
    section {
        width: 95%; /* Prendre 95% de la largeur de l'écran */
        padding: 8px; /* Réduire le padding */
    }

    h1 {
        font-size: 20px; /* Réduire encore la taille du titre */
    }

    input {
        width: 80%; /* Ajuster la largeur de l'input */
        padding: 8px 5px; /* Réduire le padding */
    }

    button {
        width: 20%; /* Ajuster la largeur du bouton */
        font-size: 16px; /* Réduire encore la taille de la police */
    }

    .paragraphe_style {
        font-size: 14px; /* Réduire la taille de la police des paragraphes */
    }
}